[project]
	description = help to debug the memory leak problem, now still under development, function is still limited.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zll5267
[access "refs/for/refs/*"]
	read = group user/zll5267
	push = group user/zll5267
	label-Code-Review = -2..+2 group user/zll5267
	label-Verified = -1..+1 group user/zll5267
	rebase = group user/zll5267
	removeReviewer = group user/zll5267
	submit = group user/zll5267
[access "refs/heads/*"]
	read = group user/zll5267
	create = group user/zll5267
	push = +force group user/zll5267
	pushMerge = group user/zll5267
[access "refs/tags/*"]
	push = +force group user/zll5267
	pushTag = group user/zll5267
	pushSignedTag = group user/zll5267
